div{
}
.group > div {
    background: white;
    float: left;
    width: 23%;
    margin-right: 2%;
    padding: 10px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img{width: 90%; /* Ширина */
    float: center; /* Выстраиваем элементы по горизонтали */
    margin: 0 0 0 3.5%; /* Отступ слева */
    border-radius: 5px; /* Радиус скругления */
    padding: 2%; /* Поля */
}
p,h1,h2{
    font-family: 'Stick', sans-serif;
    color: navy;
}
p{
    font-size:smaller;
}
h2{
    font-size: small;
    text-align: center;
}
h1{
    font-size: medium;
}

a{
    color: black; 
    text-decoration: none;
}
A:visited { text-decoration: none; } 
A:active { text-decoration: none; }

body{
    background-image: url(https://st2.depositphotos.com/3317997/7658/v/600/depositphotos_76586361-stock-illustration-seamless-colorful-background-made-of.jpg);
}
header
{font-size: small;
    text-align: center;
    background-color: ivory;
    opacity: 0.9;
    font-size: 30px;
    padding: 1px ;
    margin: 2px;
}
.logo{
    width: 1.5ex; /* Ширина */
    float: centr; /* Выстраиваем элементы по горизонтали */
    margin: 0 ; /* Отступ слева */
    padding: 2px; /* Поля */
}
button{
    padding: 5px ;
    margin: 15px;
    width: 90%;
    align-content: center;
    color: white;
    background-color:  blue;
    height: 5ex;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}